body
{
   background-color: rgba(91, 248, 43, 0.808);
   text-align: center;
}

#image1
{
    width: 800px;
    height: 600px;
    padding: 10px;
    border:darkgray;
    border-width: 5px;
}